#weekly-house {
    margin-top: 144px;
    height: 675px;
    background: url('../img/weekly-1.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    #weekly-house-highlight {
        width: 50%;
        height: 50%;
        background: white;
        position: relative;

        div {
            position: absolute;
            margin: 80px 160px;

            p {
                margin-top: 23px;
                line-height: 2.0;
            }
        }
    }

    #weekly-house-tour-button {
        width: 198px;
        height: 166px;
        background-color: #694137;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        text-align: center;
        position: relative;
        margin: -83px auto;

        div {
            color: white;

            &:nth-child(1) {
                width: 53px;
                height: 53px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                background-color: #75564D;
                border: 3px solid #AF9F9B;
                position: absolute;
                top: 34px;
                left: 70px;
                transition: 0.1s ease-in-out;

                &:hover {
                    background-color: #694137;
                    border: 3px solid white;
                }
            }

            i {
                margin-top: 21px;
                margin-left: 2px;
                font-size: 10px;
            }

            &:nth-child(2) {
                position: absolute;
                top: 109px;
                left: 50px;
                font-size: 18px;
            }
        }
    }
}
